nav {
  background-color: black;
  color: white;
  font-size: 20px;
}

.navbar-brand {
  color: white;
  font-size: 35px;
}

.navbar-nav .nav-item .nav-link {
  color: gold;
}

a:hover {
  color: white;
}
