.jumbotron {
  border-radius: 0;
  /* margin-bottom: 5px; */
  padding-left: 0;
  padding-right: 0;
  height: 500px;
  background-size: cover;
  background-image: url("../../images/Tower_Bridge.jpg");
}

/* .bridge {
  height: 100%;
} */

.title {
  margin-bottom: 20px;
}
